
<h1>Student Details</h1>

<p>
  <strong>Fname:</strong>
  <%= @student.fname %>
</p>

<p>
  <strong>Sname:</strong>
  <%= @student.sname %>
</p>

<p>
  <strong>Course:</strong>
  <%= @student.course %>
</p>

<%= link_to 'Edit', edit_student_path(@student), class:"btn btn-outline-primary" %>
<%= link_to 'Back', students_path, class:"btn btn-outline-primary" %>
<%= link_to 'Delete', @student, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>

