<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Subject1:</strong>
  <%= @course.subject1 %>
</p>

<p>
  <strong>Subject2:</strong>
  <%= @course.subject2 %>
</p>

<p>
  <strong>Subject3:</strong>
  <%= @course.subject3 %>
</p>

<p>
  <strong>Subject4:</strong>
  <%= @course.subject4 %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
