<p id="notice"><%= notice %></p>

<h1>Course Details</h1>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Subject1:</strong>
  <%= @course.subject1 %>
</p>

<p>
  <strong>Subject2:</strong>
  <%= @course.subject2 %>
</p>

<p>
  <strong>Subject3:</strong>
  <%= @course.subject3 %>
</p>

<p>
  <strong>Subject4:</strong>
  <%= @course.subject4 %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<%= link_to 'Edit', edit_course_path(@course), class:"btn btn-outline-primary" %>
<%= link_to 'Back', courses_path, class:"btn btn-outline-primary" %>
<%= link_to 'Delete', @course, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
