<p id="notice"><%= notice %></p>

<h1>Lecturers</h1>

<table>
  <thead>
    <tr>
      <th>Lecturer</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecturers.each do |lecturer| %>
      <tr>
        <td><%= lecturer.title %> <%= lecturer.fname %> <%= lecturer.sname %></td>
        <td><%= lecturer.subject %></td>
        <td><%= link_to 'View', lecturer %></td>
        <td><%= link_to 'Edit', edit_lecturer_path(lecturer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecturer', new_lecturer_path %>
