<p id="notice"><%= notice %></p>

<h1>Lecturer Details</h1>

<p>
  <strong>Title:</strong>
  <%= @lecturer.title %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @lecturer.fname %>
</p>

<p>
  <strong>Sname:</strong>
  <%= @lecturer.sname %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @lecturer.subject %>
</p>

<%= link_to 'Edit', edit_lecturer_path(@lecturer), class:"btn btn-outline-primary" %>
<%= link_to 'Back', lecturers_path, class:"btn btn-outline-primary" %>
<%= link_to 'Delete', @lecturer, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
