<!DOCTYPE html>
<html>
  <head>
    <title>CollegeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class='container'> <!-- putting app inside div for bootstrap -->

    <!-- render the navbar from partial -->
    <%= render 'layouts/nav/nav' %>

    <%= bootstrap_flash %>
    <%= yield %>
  </div>
  </body>
</html>
